<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="logo-container">
        <a href="/"><img class="brand-logo" src="/assets/logo__svg.svg"/></a>
    </div>
    <div class="search-container ">
        <form class="d-flex search-form " role="search" >
            <input class="form-control" type="search" placeholder="Busca aqui tus productos" aria-label="Search">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
    <div class="form-container">
        <a href="#" class="material-symbols-outlined">notifications</a>
        <img id="test" class="user-default-image" src="/assets/user_def.svg" role="button" />
        <ul id="collapse_menu" class="dropdown-menu" >
            <li><a href="/products">Productos</a></li>
            <li><a href="/support">Soporte</a></li>
            <li><a href="/api/sessions/logout">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>
<section class="cart-section">
    <div class="cart-container">
        {{#if productsList}}
            {{#each productsList}}
                <div class="product-container">
                    {{#with _doc.id_product}}
                        <div class="product-image-container">
                            <img src="" alt="Image not available"/>
                        </div>
                        <div class="product-info-container">
                            <h5>{{_doc.title}}</h5>
                            <p>{{_doc.description}}</p>
                            <p>$ {{_doc.price}}</p>
                        </div>
                        <div class="delete-button-container">
                            <a type="button" href="/cart/{{_doc._id}}"><span style="font-size: 2rem; color: red" class="material-symbols-outlined">delete</span></a>
                        </div>
                    {{/with}}  
                        <div class="product-counter-container">
                            <input type="number" min="1" value='{{_doc.quantity}}'/>
                        </div>
                </div>
            {{/each}}
            <div class="buy">
                <a type="button" href="/thank" class="btn">Comprar</a>
            </div>
        {{else}}
            {{#if productsListPremium}}
                {{#each productsListPremium}}
                    <div class="product-container">
                        {{#with _doc.id_product}}
                            <div class="product-image-container">
                                <img src="" alt="Image not available"/>
                            </div>
                            <div class="product-info-container">
                                <h5>{{_doc.title}}</h5>
                                <p>$ {{_doc.price}}</p>
                                <span style="color: green; font-weight: 500">Descuento Premium</span>
                                <p style="font-weight:500; color: red">-10 %</p>
                            </div>
                            <div class="delete-button-container">
                                <a type="button" href="/cart/{{_doc._id}}"><span style="font-size: 2rem; color: red" class="material-symbols-outlined">delete</span></a>
                            </div>
                        {{/with}}  
                            <div class="product-counter-container">
                                <input type="number" min="1" value='{{_doc.quantity}}'/>
                            </div>
                    </div>
                {{/each}}
                <div class="buy">
                    <a type="button" href="/thank" class="btn" style="border-radius: 8px;">Comprar ahora</a>
                </div>
            {{else}}
                <div class="emptycart-container">
                    <h2>Tu carrito esta vacio</h2>
                </div>
                <div class="rtnHome">
                    <a href="/products">Seguir comprando</a>
                </div>
            {{/if}}
        {{/if}}
    </div>
</section>
