<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="logo-container">
        <a href="/"><img class="brand-logo" src="/assets/logo__svg.svg"/></a>
    </div>
    <div class="links-container">
    <div class="form-container">
        <form class="form-close" action="/api/sessions/logout" method="get">
            <a href="#" class="material-symbols-outlined">notifications</a>
            <img id="test" class="user-default-image" src="/assets/user_def.svg" role="button" />
            <div id="collapse_menu" class="dropdown-menu" >
                <a href="/products">Productos</a>
                <a href="#">Soporte</a>
                <a href="/api/sessions/logout">Cerrar sesion</a>
            </div>
        </form>
    </div>
    </div>
</nav>
<section class="cart-section">
    <div class="cart-container" style="margin: 5rem auto;">
        {{#if productsList}}
            {{#each productsList}}
                {{#with _doc.id_product}}
                    <div class="product-container">
                        <div class="product-image-container">
                            <img src="" alt="Image not available"/>
                        </div>
                        <div class="product-info-container">
                            <h5>{{_doc.title}}</h5>
                            <p>{{_doc.description}}</p>
                            <p>$ {{_doc.price}}</p>
                        </div>
                        <div class="delete-button-container">
                            <a type="button" href="/cart/{{_doc._id}}"><span style="font-size: 2rem; color: red" class="material-symbols-outlined">delete</span></a>
                        </div>
                    </div>
                    <hr>
                {{/with}}  
            {{/each}}
        {{else}}
            {{#if productsListPremium}}
                {{#each productsListPremium}}
                    {{#with _doc.id_product}}
                        <div class="product-container">
                            <div class="product-image-container">
                                <img src="" alt="Image not available"/>
                            </div>
                            <div class="product-info-container">
                                <h5>{{_doc.title}}</h5>
                                <p>$ {{_doc.price}}</p>
                                <span style="color: red;">Descuento Premium</span>
                                <p style="font-weight:500; color: green">-10 %</p>
                            </div>
                            <div class="delete-button-container">
                                <a type="button" href="/cart/{{_doc._id}}"><span style="font-size: 2rem; color: red" class="material-symbols-outlined">delete</span></a>
                            </div>
                        </div>
                        <hr>
                    {{/with}}  
                {{/each}}
            {{else}}
                <div class="emptycart-container">
                    <h2>Tu carrito esta vacio</h2>
                </div>
                <div class="rtnHome">
                    <a href="/">Seguir comprando</a>
                </div>
            {{/if}}
        {{/if}}
    </div>
</section>
