<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="logo-container">
        <img class="brand-logo" src="/assets/logo__svg.svg"/>
    </div>
    <div class="links-container">
        <div class="form-container">
            <form class="form-close" action="/api/sessions/logout" method="get">
                <h6 class="mx-3 h6-nav">Hola <strong>{{name}}</strong></h6>
                <a href="#" class="material-symbols-outlined">notifications</a>
                <img class="user-default-image dropdown-toggle" src="/assets/user_def.svg" role="button" data-bs-toggle="dropdown"  aria-expanded="false"/><!--data-bs-target="#collapse_demo" collapse menu-collapse-->
                <div id="collapse_demo" class="dropdown-menu" >
                    <a class="dropdown-item" href="/add">Agregar producto</a>
                    <a class="dropdown-item" href="/delete">Borrar producto</a>
                    <a class="dropdown-item" href="/support">Soporte</a>
                    <a class="dropdown-item" href="/api/sessions/logout">Cerrar sesion</a>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="admin-container">
    <!--<div class="admin-forms">
    </div>-->
    <div class="cards-container p-3 justify-content-around">
        {{#each productsList}}
            <div class="card my-2 rounded-1">
                <img src='' class="card-img-top" alt="Thumbnail">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col">{{_doc.title}}</h5>
                    </div>
                    <div class="row border text-center" style="height: 3.5rem;">
                        <h6 class="col border h-100 d-flex align-items-center justify-content-center">ID</h6>
                        <p class="col border h-100 d-flex align-items-center justify-content-center">{{_doc._id}}</p>
                    </div>
                    <div class="row border" style="height: 3.8rem;">
                        <p class="card-text col border h-100 d-flex align-items-center justify-content-center">{{_doc.description}}</p>
                    </div>
                    <div class="row border text-center" style="height: 3.5rem;">
                        <h6 class="col border h-100 d-flex align-items-center justify-content-center">Code</h6>
                        <p class="col border h-100 d-flex align-items-center justify-content-center">{{_doc.code}}</p>
                    </div>
                    <div class="row border text-center" style="height: 3.5rem;">
                        <h6 class="col border h-100 d-flex align-items-center justify-content-center">Price</h6>
                        <p class="col border h-100 d-flex align-items-center justify-content-center">{{_doc.price}}</p>
                    </div>
                    <div class="row border text-center" style="height: 3.5rem;">
                        <h6 class="col border h-100 d-flex align-items-center justify-content-center">Stock</h6>
                        <p class="col border h-100 d-flex align-items-center justify-content-center">{{_doc.stock}}</p>
                    </div>
                    <div class="row border text-center" style="height: 3.5rem;"> 
                        <h6 class="col border h-100 d-flex align-items-center justify-content-center">Category</h6>
                        <p class="col border h-100 d-flex align-items-center justify-content-center">{{_doc.category}}</p>
                    </div>
                    <div class="row border text-center" style="height: 3.5rem;">
                        <h6 class="col border h-100 d-flex align-items-center justify-content-center">__v</h6>
                        <p class="col border h-100 d-flex align-items-center justify-content-center">{{_doc.__v}}</p>
                    </div>
                </div>
            </div>
        {{/each}}    
    </div>
</div>
