<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="logo-container-admin">
        <img class="brand-logo" src="/assets/logo__svg.svg"/>
    </div>
    <div class="form-container-admin">
        <h6 class="mx-3 h6-nav">Hola <strong>{{name}}</strong></h6>
        <a href="#" class="material-symbols-outlined">notifications</a>
        <img id="test" class="user-default-image" src="/assets/user_def.svg" role="button" /><!--data-bs-target="#collapse_demo" collapse menu-collapse-->
        <ul id="collapse_menu" class="dropdown-menu" >
            <li><a href="/add">Agregar producto</a></li>
            <li><a href="/delete">Borrar producto</a></li>
            <li><a href="/support">Soporte</a></li>
            <li><a href="/api/sessions/logout">Cerrar sesion</a></li>
        </ul>
    </div>
</nav>
<div class="admin-container">
    <div class="cards-container">
        {{#each productsList}}
            <div class="card p-1 rounded-1 border">
                <div class="card-body d-flex flex-column ">
                    <div class="">
                        <h5 class="card-title col">{{_doc.title}}</h5>
                    </div>
                    <div class=" border text-center d-flex flex-column" >
                        <h6 class="p-3 admin_text"><strong>Identificador</strong></h6>
                        <p class="ps-3 admin_text">{{_doc._id}}</p>
                    </div>
                    <div class=" border d-grid " style="min-height: 10rem;" >
                        <p class="admin_text" style="word-break: break-all;">{{_doc.description}}</p>
                    </div>
                    <div class=" border text-center d-flex" >
                        <h6 class=" border  h-100 w-50 admin_text"><strong>Código</strong></h6>
                        <p class=" border h-100 w-50 admin_text">{{_doc.code}}</p>
                    </div>
                    <div class=" border text-center d-flex">
                        <h6 class=" h-100 w-50 admin_text"><strong>Precio</strong></h6>
                        <p class=" h-100 w-50 admin_text">{{_doc.price}}</p>
                    </div>
                    <div class=" border text-center d-flex" >
                        <h6 class=" h-100 w-50 admin_text"><strong>Existencias</strong></h6>
                        <p class=" h-100 w-50  admin_text">{{_doc.stock}}</p>
                    </div>
                    <div class=" border text-center d-flex" > 
                        <h6 class=" h-100 w-50 admin_text"><strong>Categoría</strong></h6>
                        <p class="h-100 w-50  admin_text">{{_doc.category}}</p>
                    </div>
                    <div class="border text-center d-flex" >
                        <h6 class=" h-100 w-50 d-flex align-items-center justify-content-center"><strong>v</strong></h6>
                        <p class=" h-100 w-50 d-flex align-items-center justify-content-center admin_text">{{_doc.__v}}</p>
                    </div>
                </div>
            </div>
        {{/each}}    
    </div>
</div>