<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="logo-container">
        <a href="/"><img class="brand-logo" src="/assets/logo__svg.svg"/></a>
    </div>
    <div class="search-container">
        <form class="d-flex search-form" role="search">
            <input class="form-control" type="search" placeholder="Busqueda..." aria-label="Search">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
    <div class="form-container">
        <h6 class="mx-3 h6-nav">Hola <strong>{{name}}</strong></h6>
        <a href="/cart/{{cid}}" class="material-symbols-outlined">shopping_cart</a>
        <img id="test" class="user-default-image" src="/assets/user_def.svg" role="button" />
        <ul id="collapse_menu" class="dropdown-menu" >
            <li><a href="/support">Soporte</a></li>
            <li><a href="/api/sessions/logout">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>
<div class="z-0 cards" >  
    {{#each productsList}}
        <div class="card m-3" style="width: auto;">
            <a href="/details/{{_doc._id}}"><img src='/assets/images/termo.jpg' class="card-img-top" alt="Item image"></a>
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title col">{{_doc.title}}</h4>
                </div>
                 <div class="row" style="height: 3.5rem;">
                    <p class="card-text col h-100">{{_doc.description}}</p>
                </div>
                <div class="row" style="height: 3.5rem;">
                    <p style="font-weight: 500;" class="col h-100">$ {{_doc.price}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<footer>
    <div class="footer__info">
        <div class="footer__about">
            <h2>Acerca de</h2>
            <a href="/home">Punto Aqua</a>
        </div>
    </div>
    <div class="footer__links">
        <div class="social__media">
            <a href="https://www.facebook.com/profile.php?id=100087263527212" target="_blank"><i class="fa-brands fa-facebook fa-3x"></i></a>
            <a href="https://www.google.com/maps/place/Punto+Aqua/@20.6552023,-103.2944247,17z/data=!3m1!4b1!4m6!3m5!1s0x8428b3f170b144a7:0xd3d21c426e3cd34d!8m2!3d20.6551973!4d-103.292236!16s%2Fg%2F11jt5d7d45" target="_blank"><i class="fa-solid fa-location-dot fa-3x"></i></a>
        </div>
        <div class="footer__copyright">
            <a href="/privacy">Aviso de privacidad</a>
            <a href="/terms">Términos y condiciones</a>
            <p>&copy;Derechos reservados</p>
        </div>
    </div>
</footer>
