<div class="socket">
    <div id="forms">
        <h1>Agrega productos</h1>
        <form id="data">
            <div class="mb-1">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" id="description" name="description" required class="form-control"></textarea>
            </div>
            <div class="mb-1">
                <label for="code" class="form-label">Code</label>
                <input type="text" id="code" name="code" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="price" class="form-label">Price</label>
                <input type="number" id="price" name="price" min="0" placeholder="1.00" step="0.01" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" id="stock" name="stock" min="0" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="category" class="form-label">Category</label>
                <input type="text" id="category" name="category" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="thumbnail" class="form-label">Thumbnail</label>
                <input type="text" id="thumbnail" name="thumbnail" required class="form-control"/><br>
            </div> 
                <button type="submit" class="btn btn-success">Agregar producto</button>
        </form>
        <h1>Elimina productos</h1>
        <form id="delForm">
            <div class="mb-1">
                <label for="pid" class="form-label">ID</label>
                <input type="number" id="pid" name="pid" required min="0" class="form-control"/><br>
            </div>
            <button type="submit" class="btn btn-danger">Eliminar producto</button>
        </form>
        </div>
    <div id="list">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Tumbnail</th>
                </tr>
            </thead>
            <tbody id="table">
                {{#each prods}}
                    <tr>
                        <td>{{id}}</td> 
                        <td>{{title}}</td> 
                        <td>{{description}}</td> 
                        <td>{{code}}</td> 
                        <td>{{price}}</td> 
                        <td>{{status}}</td> 
                        <td>{{stock}}</td> 
                        <td>{{category}}</td> 
                        <td>{{thumbnail}}</td> 
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
